.square {
  color: var(--background);
  background-color: var(--text-secondary);
  border: 12px solid var(--accent);
  margin: auto;
  text-align: center;
  vertical-align: text-bottom;
  transition: all .5s;
  width: 300px;
  height: 300px;
}

