.app {
  color: var(--text-primary);
  background-color: var(--background);
  height: 100vh;
  transition: all .5s;
}

button {
  color: var(--background);
  background: var(--text-secondary);
  transition: all .5s;
}