.app {
  color: var(--text-primary);
  background-color: var(--background);
  height: 100vh;
  font-size: large;
  font-weight: bold;
  padding: 20px;
  transition: all .5s;
}

button {
  color: var(--text-primary);
  background-color: var(--background);
  border: 2px var(--text-primary) solid;
  transition: all .5s;
  float: right
}