:root {
  --primary: white;
  --secondary: black;
}

[data-theme='dark'] {
  --primary: black;
  --secondary: white;
}

.app {
  color: var(--primary);
  background-color: var(--secondary);
  height: 100vh;
  transition: all .75s;
}

.square {
  color: var(--secondary);
  background-color: var(--primary);
  height: 150px;
  width: 150px;
  margin: auto;
  padding: 25px;
  transition: all .75s;
}